@use "@material/theme" with (
  $primary: #F88277,
  $on-primary: #F5F5F5,
  $secondary: #FEEDEB
);
@use "material-components-web/material-components-web";
@use "@material/button/styles";

html {
  font-size: 16px;
}

body {
  background-color: #FEEDEB;

  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 1em auto auto auto auto auto;
}

%padding-container {
  margin: 1em;
}

%gradient-top-border {
  border-top: 1em solid;
  border-image-source: linear-gradient(61deg, rgba(248,151,119,1) 0%, rgba(248,151,119,1) 19%, rgba(248,130,119,1) 58%, rgba(254,237,235,1) 100%);
  border-image-slice: 1;
}

%borderA {
  border: 0.4em solid #F5F5F5;
}

header {
  @extend %gradient-top-border;
  background-color: #E0E0E0;
  grid-column: 2;
  grid-row: 2;

  h1 {
    @extend %padding-container;
    font-family: 'Antic Didone', helvetica, serif;
    color: #F88277;
    font-size: 2.5em;
    font-weight: bolder;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    button {
      @extend %padding-container;
    }
  }
}

article {
  p {
    font-family: 'Open Sans', helvetica, sans-serif;
  }
}

/* Slideshow container */
* {box-sizing:border-box}
.slideshow-container {
  @extend %borderA;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
  height: 28vw;
  position: relative;
  overflow: hidden;
  grid-column: 2;
  grid-row: 3;
}

/* Hide the images by default */
.slide {
  display: none;
  width: 40vw;
  height: 28vw;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.slip {
  position: absolute;
  top: 0;
  left: 0;
  animation: slide-in 1s both;
}

@keyframes slide-in {
  0% {
    transition-timing-function: ease-in;
    transform: translateX(-100%);
  }
}

.slipOut {
  animation: slide-out 1s both;
  transition: gone 4000ms;
}

.gone {
  display: none;
}
